.container {
    margin: 40px;
    background-color: eggshell;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 8px 0px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding: 0;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
}

.works {
    color: grey;
}


.team {
    color: black;
}

.manifest {
    color: grey;
}

.contact {
    color: grey;
}

.content-top {
    margin-bottom: 80px;
}

.content-top-text {
    display: flex;
    justify-content: space-between;

}

.nomad {
    color: blue
}

.the-case {
    color: black;
    font-weight: bold
}

.the-case-text {
    width: 40em;
    flex-wrap: wrap;
    color: grey;
}

.div-1-column-2 {}

.deliverable {
    color: black;
    font-weight: bold;
    padding-top: 60px;
}

.deliverable-text {
    list-style: none;
    padding: 0px;
    color: grey
}

.deliverable-text-branding {
    padding-bottom: 5px
}

.deliverable-text-website {
    padding-bottom: 5px
}

.deliverable-text-photography {
    padding-bottom: 5px
}

.deliverable-text-art-direction {
    padding-bottom: 5px
}

.deliverable-text-naming {}

.div-1-column-3 {
    justify-content: space-between;
}

.release {
    color: black;
    font-weight: bold
}

.release-text {}

.line-of-business {
    color: black;
    font-weight: bold
}

.line-of-business-text {}

.photos-by {
    color: black;
    font-weight: bold
}

.photos-by-text {}

.images-top {
    border-top: 2px solid;
    border-top-color: blue;
    padding-top: 80px
}