html {}

body {
    margin: 0;
    background-color: rgb(255 218 213);
    color: rgb(40 44 131);
    font-family: 'Montserrat', sans-serif
}

.page-header {
    background-color: white;
    color: rgb(132 135 237);
    border-bottom: 1px solid rgb(132 135 237);
    box-shadow: 0 2px 5px rgb(132 135 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
    margin-left: 80px;
    color: rgb(66 70 229)
}

.primary-nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 20px;
    padding: 0;

}

.nav-links li {
    margin: 0 15px
}

.nav-links li a {
    text-decoration: none;
    color: rgb(40 41 141 / 70%);
    font-weight: 600;
}

.sign-up-button {
    margin: 5px 40px 0px 20px;
}

.content {
    display: flex;
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
}

.content-inner {
    max-width: 480px;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: small;
    color: rgb(40 41 141);
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    padding-top: 40px;


}





.title {
    margin: 0 0 20px 0;
    padding-top: 50px;
    font-size: 70px;
    line-height: 1.1em;
}


.copy {
    max-width: 375px;
    line-height: 1.45em;

}

.sign-up {
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 3px 8px rgb(40 44 131 / 30%);
    max-width: fit-content;
    width: 100%;
    margin-top: 40px;
}

.sign-up button {
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    background-color: transparent;
}

.field-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(40 44 131);
    padding: 0 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.content-image {
    width: 45%;
    margin-left: 40px;
}

.field-group label {
    font-size: 10px;
    font-weight: 600;
}

span {
    color: rgb(106, 185, 165);
}