footer {
    align-items: baseline;
}

h1 {
    background-color: brown;
    color: lightsalmon;
}

.about {
    color: rgb(174, 38, 38);
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;

}

td.menu a {
    color: rgb(49, 138, 61);
}

marquee {
    color: crimson;
}

div a marquee {
    color: aliceblue;
}