html {
    font-family: 'Montserrat', sans-serif;

}

body {
    margin: 0;
    background-color: rgb(255 218 213);
    font-family: 'Montserrat', sans-serif
}

.page-header {
    background-color: white;
    color: rgb(132 135 237);
    border-bottom: 1px, solid;
    box-shadow: 0 2px 5px rgb(132 135 237);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
    margin-left: 80px;
    color: rgb(66 70 229)

}

.primary-nav{
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 20px;
    
}

.nav-links li{
    margin: 0 15px

}

.nav-links li a {
    text-decoration: none;
    color:rgb(40 41 141 / 70%);
    font-weight: 600;
}

.sign-up-button{
    margin: 5px 40px 0px 20px;
}

.content{
    display: flex;
    max-width: 1000px;
    margin: 100px auto;
    align-items: center;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: small;
    color:rgb(40 41 141);
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    padding-top: 40px;


}





.title {
    margin-top: 10px;
    padding-top: 50px;
    font-size: 70px;
    line-height: 1.1em;
}


.copy{

}   

.sign-up{
    border: 1px solid rgb(40 41 141);
}

.form-group{

}

.content-image {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}


span {
    color: rgb(106, 185, 165);
}